[submodule "ext/pugl/pugl"]
	path = pugltk/ext/pugl
	url = https://github.com/MartinPreinfalk/pugl.git
[submodule "ext/imgui/imgui"]
	path = pugltk/ext/imgui
	url = https://github.com/MartinPreinfalk/imgui.git
[submodule "pugltk/ext/implot"]
	path = pugltk/ext/implot
	url = https://github.com/MartinPreinfalk/implot.git
